<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="team-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="header">
            <h1>Title</h1>
          </div>
          <div class="content-text">
            <p>some text</p>
          </div>
        </div>
      </div>
    </div>
    @@include('./footer.tpl.html')
  </div>
</body>
