<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="collaborations-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="header">
            <h2 id="team" class="collaborations-title">Collaborators</h2>
          </div>
          <div class="collaborations-panel">
            <h3>NEGEM Meetup</h3>
          	<p>We shared our progress with Tufts, Boston University, WPI, Harvard, and MIT on June 21. We got feedback on running killing assays. We also heard concerns that AMPs are not suitable for clinical distribution, which caused us to focus on the foundational advance of post-translational modifications. We also completed surveys for WPI on lead contamination and for BU Hardware on microfluidics in synthetic biology.</p>
            <div class="row collab-section-header">
              <div class="col-sm-3">
                <img src="http://2017.igem.org/wiki/images/2/2a/T--INSA-UPS_France--Logo.png" />
              </div>
              <div class="col-sm-9">
                <h3>INSA-UPS</h3>
              </div>
            </div>
          	<p>We talked to team INSA-UPS, who is working on AMPs for combatting cholera, about their project our projects and possible collaborations in addition to completing their survey about a hypothetical water treatment device. We gave troubleshooting advice but were unable to test each other's’ parts due to timing.</p>
            <div class="row collab-section-header">
              <div class="col-sm-3">
                <img src="http://2017.igem.org/wiki/images/5/5f/T--NortheasternU-Boston--BU.png" />
              </div>
              <div class="col-sm-9">
                <h3>Boston U</h3>
              </div>
            </div>
            <p>We also talked to BU Wetlab team working on cell-free expression for RNA controlled switches. We compared cell free protocols and discussed challenges in using the expression system but did not have time to test each other’s parts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
