<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="basic-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="header">
            <h1>Education and Public Engagement</h1>
          </div>
          <div class="content-text">
<h3>Genetic Engineering for Kids with NEPTUN</h3>
<img src="http://2017.igem.org/wiki/images/1/18/T--NortheasternU-Boston--GoAsa.png"
width="95%" style="max-width:100%;display:block;margin:10px"></img>
<p>
The Northeastern Program for Teaching by Undergraduates, <a href="https://neptun.learningu.org/learn/index.html"
target="_blank">NEPTUN</a>, is a student organization at Northeastern which hosts
a free event for local area high-school students to come to Northeastern’s
campus and take a day of fun and educational classes put together by undergraduate
students at Northeastern University.
</p>
<p>
Our team had the pleasure of putting together a simple introduction to the fields
of genetic engineering and synthetic biology. The two, hour-long courses
consisted of a primer pre-quiz by show of hands to gauge prior knowledge and
get the students interested followed by a brief historical and conceptual
background on the field. The courses ended with a view of modern synthetic biology
including a short interactive benchling demonstration, a very brief discussion
of some ethical issues in biology, and a few cool cutting edge things happening in
the field like CRISPR/Cas. The course was a rousing success and hearing the students
excitedly chatter about the future implications of genetic engineering and synthetic
biology was inspiring. Feel free to peruse the slide deck we used during the course below!
</p>
<br>
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR9W2Ju6uHJ41-kIofD3lEalkiWEqS1jWVw1boDKGwKU99t2SCdGJzIplKz8VDsn-08RNdpYEU-_pTm/embed?start=false&loop=false&delayms=5000"
frameborder="0" width="100%" height="400px" allowfullscreen="true"
mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
<br>
<h3>Bringing Research to the Experts</h3>

<p>
As a part of our education initiative, we collected information on a set of
current biotechnologies to help inform the experts we spoke to in Mozambique.
By sharing information about the state of inexpensive and effective biotechnology
we hoped to inspire conversations amongst experts with agency to have a significant
health impact in Mozambique. We also provided contact information with the experts,
to facilitate their outreach to the researchers and the initiations of collaborations.
The response from the experts that we shared this information with was overwhelmingly
enthusiastic and inspired Keba Jobarteh to say that “a point of care test that gives
viral load range for HIV is the holy grail.”
<p>

<p>
These resources are collected and shown below:
</p>

<ul>
  <li>
    <p>
Paper that describes the application of paper-based biosensors to detection of Zika virus:<br>
<a href=
"http://www.sciencedirect.com/science/article/pii/S0092867416305050" target="_blank">
http://www.sciencedirect.com/science/article/pii/S0092867416305050</a>
    </p>
  </li>
  <li>
    <p>
CRISPR/Cas9-based nucleotide detection system for detecting and monitoring disease:<br>
<a href="http://collinslab.mit.edu/files/science_zhang.pdf" target="_blank">
  http://collinslab.mit.edu/files/science_zhang.pdf</a>
    </p>
  </li>
  <li>
    <p>
Paper-based centrifuges that can be used for blood tests, including isolating and detecting malaria parasite:<br>
<a href="https://www.nature.com/articles/s41551-016-0009" target="_blank">
  https://www.nature.com/articles/s41551-016-0009</a>
    </p>
  </li>
  <li>
    <p>
Published paper outlining background, mechanism, and applicability of toe-hold switches and paper-based systems:<br>
<a href="http://www.sciencedirect.com/science/article/pii/S0092867414012914?via%3Dihub" target="_blank">
  http://www.sciencedirect.com/science/article/pii/S0092867414012914?via%3Dihub</a>
    </p>
  </li>
  <li>
    <p>
Paper-based bacterial detection:<br>
<a href="http://pubs.acs.org/doi/abs/10.1021/ac100231a" target="_blank">
  http://pubs.acs.org/doi/abs/10.1021/ac100231a</a>
    </p>
  </li>
  <li>
    <p>
Review article describing current state and problems with advancing synthetic biology:<br>
<a href="https://www.nature.com/articles/nrm3767" target="_blank">
  https://www.nature.com/articles/nrm3767</a>
    </p>
  </li>
</ul>


          </div>
        </div>
      </div>
    </div>
    @@include('./footer.tpl.html')
  </div>
</body>
