<div class="row neu-igem-footer">
  <!-- SPONSOR LOGOS -->
  <div class="col-xs-12">

    <!-- don't call these classes "sponsor" since adblock will destroy it -->
    <div class="neusponsor-container">
      <div class="neusponsor-header">
        <span class="neusponsor-title">Our Generous Sponsors</span>
      </div>
      <hr/>
      <ul class="neusponsor-list">
        <li class="neusponsor-item">
          <a href="http://compasstherapeutics.com" class="neusponsor-item-link" target="_blank"
            title="Compass Therapeutics">
            <img class="neusponsor-img" src="img/compass.png"
              alt="Compass Therapeutics"/>
          </a>
        </li>
        <li class="neusponsor-item">
          <a href="https://www.idtdna.com/site" class="neusponsor-item-link" target="_blank"
            title="IDT Integrated DNA Technologies">
            <img class="neusponsor-img" src="img/IDT.png"
              alt="IDT Integrated DNA Technologies"/>
          </a>
        </li>
        <li class="neusponsor-item">
          <a href="https://www.neb.com" class="neusponsor-item-link" target="_blank"
            title="NEB New England Biolabs">
            <img class="neusponsor-img" src="img/NEB.png"
              alt="NEB New England Biolabs"/>
          </a>
        </li>
        <li class="neusponsor-item">
          <a href="http://www.northeastern.edu/cos/" class="neusponsor-item-link" target="_blank"
            title="Northeastern University College of Science">
            <img class="neusponsor-img" src="img/neu_cos.png"
              alt="Northeastern University College of Science"/>
          </a>
        </li>
        <li class="neusponsor-item">
          <a href="http://www.bioe.neu.edu" class="neusponsor-item-link" target="_blank"
            title="Northeastern Univeristy Department of Bioengineering">
            <img class="neusponsor-img" src="img/neu_bioe.png"
              alt="Northeastern University Department of Bioengineering"/>
          </a>
        </li>
        <li class="neusponsor-item">
          <a href="http://www.che.neu.edu" class="neusponsor-item-link" target="_blank"
            title="Northeastern University Department of Chemical Engineering">
            <img class="neusponsor-img" src="img/neu_cheme.png"
              alt="Northeastern University Department of Chemical Engineering"/>
          </a>
        </li>

      </ul>
    </div>

  </div>
</div>
