<html lang="en" dir="ltr" class="client-js">
<head>
  <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css"  href="../css/main.css" >
  <script type='text/javascript'>
    $(function () {
       // your code goes here

    });
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9 home-abstract">
          <div class="abstract-img-container">
            <img src='img/abstract@4x.png'>
          </div>
        </div>
      </div>
      @@include('./footer.tpl.html')
    </div>
  </div>

</body>
