<html lang="en" dir="ltr" class="client-js">
<head>

</head>
<body>
	<div id="global-wrapper">
		<div id="top_menu_under"></div>
		<div id="top_menu_14" class="noprint"></div>

		<div id="content" class="mw-body" role="main">
			<a id="top"></a>
			<div id="top_title">
				<div class="logo_2017">
					<a href="http://2017.igem.org">
						<img src="http://2017.igem.org/wiki/images/8/8b/HQ_page_logo.jpg" width="100px">
					</a>
					<h1 id="firstHeading" class="firstHeading">
	          <span dir="auto">Team:NortheasternU-Boston</span>
	        </h1>

				</div>

			</div>
			<div id>
				<div id="bodyContent">
					<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
						<p>
							<!-- THIS IS WHERE THE HTML BEGINS -->
							<meta name="viewport" content="width=device-width, initial-scale=1">
						</p>

						@@include('./sidebar.html')
						<div class="igem_2017_content_wrapper">
						</div>
						<div class="visualClear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
