<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="basic-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="content-header">
            <h1>Human Practices Summary</h1>
          </div>
          <div class="content-text">
<p>
Our team was motivated to examine problems of distributive justice
in modern medicine and biotechnology. We wanted to find flaws in the
current distribution scheme of medicine, especially in areas of
the world lacking in infrastructure. At the same time we wanted to
educate the public as well as figures with particular agency,
about modern advances and issues in synthetic biology and biotechnology.
To these ends we talked with experts in Mozambique health services,
and offered a brief introductory class on genetic engineering and
synthetic biology to Boston area high-school students.
Check out our
<a href="http://2017.igem.org/Team:NortheasternU-Boston/HP/Silver">Human Practices Silver</a>
and <a href="http://2017.igem.org/Team:NortheasternU-Boston/Engagement">Education and Public Engagement</a> pages to learn more!
          </p>
          </div>
        </div>
      </div>
    </div>
    @@include('./footer.tpl.html')
  </div>
</body>
