<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="notebook-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="header">
            <h2>Notebook</h2>
          </div>
          <p>
            Our notebook was written and maintained in Benchling, as we planned and performed experiments
          </p>
          <embed src="http://2017.igem.org/wiki/images/2/29/T--NortheasternU-Boston--Notebook.pdf"
          width="100%" min-height="100%" height="800px" type='application/pdf'>
        </div>
      </div>
      @@include('./footer.tpl.html')
    </div>
  </div>
</body>
