<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="parts-page basic-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="header">
            <h1>Parts</h1>
          </div>

          <table class="parts-table" border="1">
            <tbody>
              <!-- header -->
              <tr class="header">
                <th>Name</th>
                <th>Submitted As Basic Part (Raw Sequence)</th>
                <th>Submitted As Composite Part</th>
                <th>Type</th>
                <th>Used for Cell-Killing Assay</th>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=02135" target="_blank">TP4</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431005">BBa_K2431005</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431019">BBa_K2431019</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=02118" target="_blank">Temporin-SHd</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431007">BBa_K2431007</a></td>
                <td class="composite"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431006">BBa_K2431006</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=00513" target="_blank">Ranalexin</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431008">BBa_K2431008</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431020">BBa_K2431020</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=00546" target="_blank">Phylloseptin-H1</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431009">BBa_K2431009</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431021">BBa_K2431021</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>

              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=02703" target="_blank">ISGCock_Contig05_0593</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431011">BBa_K2431011</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431022">BBa_K2431022</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=00191" target="_blank">Gomesin</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431012">BBa_K2431012</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431023">BBa_K2431023</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=00134" target="_blank">Cecropin P1</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431013">BBa_K2431013</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431024">BBa_K2431024</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=00133" target="_blank">Cecropin B</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431014">BBa_K2431014</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431004">BBa_K2431004</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr>
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=02564" target="_blank">B1CTcu1</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431017">BBa_K2431017</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431001">BBa_K2431001</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">No</td>
              </tr>
              <tr class="assay-amp">
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=02595" target="_blank">Ccamp1</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431015">BBa_K2431015</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431003">BBa_K2431003</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">Yes</td>
              </tr>
              <tr class="assay-amp">
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=02671" target="_blank">BP100</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431016">BBa_K2431016</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431002">BBa_K2431002</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">Yes</td>
              </tr>
              <tr class="assay-amp">
                <td class="name"><a href="http://aps.unmc.edu/AP/database/query_output.php?ID=02439" target="_blank">Micrococcin P1</a></td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431010">BBa_K2431010</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431000">BBa_K2431000</a></td>
                <td class="type">AMP</td>
                <td class="used-for-assay">Yes</td>
              </tr>

              <tr>
                <td class="name">Met AP</td>
                <td class="basic"><a target="_blank" href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431018">BBa_K2431018</a></td>
                <td class="composite"><a target="_blank"  href="http://parts.igem.org/wiki/index.php?title=Part:BBa_K2431025">BBa_K2431025</a></td>
                <td class="type">Post-Translational Protein</td>
                <td class="used-for-assay">Yes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
