<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="basic-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="header">
            <h1>Safety</h1>
          </div>
          <div class="content-text">
            <p>Before the team was granted access to a labspace all team members and advisors underwent several safety training courses from Northeastern University’s Environmental Health and Safety Department. Team organizers worked closely with EHS and other faculty throughout the summer to ensure a safe working environment. Training courses taken by team members included chemical hygiene and laboratory safety, autoclave safety, and biosafety. These courses covered all of the fundamental skills of lab safety including proper use of personal protective equipment, proper treatment of chemicals and biological materials and proper disposal of all of the materials that we would be using in the lab.</p>
            <p>Safety hazards were kept to a minimum and no notably dangerous chemicals or biological agents were used.</p>
            <p>Parts used in this investigation were from by and large harmless organisms with no biosafety level rating with two exceptions. One AMP, BBa_K2431010, was from E. coli K12 a BSL 1 organism. And BBa_K2431013, which, codes for Cecropin P1 is found from Ascaris suum, a roundworm which infects pigs, it is considered a different species than the roundworm responsible for human ailments but is still rated as a BSL 2 organism. No work with these organisms was done at any point, the relevant antimicrobial peptide sequences were synthesized chemically and then amplified from there, thus there was no safety risk associated.</p>
          </div>
        </div>
      </div>
    </div>
    @@include('./footer.tpl.html')
  </div>
</body>
