<div class="igem_2017_menu_wrapper">
	<a href="http://2017.igem.org/Team:NortheasternU-Boston">
		<img src="http://placehold.it/350x150">
	</a>
	<!-- this div is hidden by default and will only be displayed if the screen size is too small -->
	<div class="menu_button" id="display_menu_control">
		MENU
	</div>
	<div id="menu_content">
		<a href="http://2017.igem.org/Team:NortheasternU-Boston">
			<div class="menu_button direct_to_page">
				HOME
			</div>
		</a>
		<div class="menu_button">
			<div class="expand_collapse_icon">  </div> TEAM
		</div>
		<div class="submenu_wrapper" id="team_submenu">
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Team">
				<div class="submenu_button" id="Team_page">
					Team
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Collaborations">
				<div class="submenu_button" id="Collaborations_page">
					Collaborations
				</div>
			</a>
		</div>
		<div class="menu_button">
			<div class="expand_collapse_icon">  </div> PROJECT
		</div>
		<!-- project submenu -->
		<div class="submenu_wrapper">
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Description">
				<div class="submenu_button" id="Description_page">
					Description
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Design">
				<div class="submenu_button" id="Design_page">
					Design
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Experiments">
				<div class="submenu_button" id="Experiments_page">
					Experiments
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Notebook">
				<div class="submenu_button" id="Notebook_page">
					Notebook
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/InterLab">
				<div class="submenu_button" id="InterLab_page">
					InterLab
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Contribution">
				<div class="submenu_button" id="Contribution_page">
					Contribution
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Model">
				<div class="submenu_button" id="Model_page">
					Model
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Results">
				<div class="submenu_button" id="Results_page">
					Results
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Demonstrate">
				<div class="submenu_button" id="Demonstrate_page">
					Demonstrate
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Improve">
				<div class="submenu_button" id="Improve_page">
					Improve
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Attributions">
				<div class="submenu_button" id="Attributions_page">
					Attributions
				</div>
			</a>
		</div>

		<div class="menu_button">
			<div class="expand_collapse_icon">  </div> PARTS
		</div>
		<!-- parts submenu -->
		<div class="submenu_wrapper">
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Parts">
				<div class="submenu_button" id="Parts_page">
					Parts
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Basic_Part">
				<div class="submenu_button" id="Basic_Part_page">
					Basic Parts
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Composite_Part">
				<div class="submenu_button" id="Composite_Part_page">
					Composite Parts
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Part_Collection">
				<div class="submenu_button" id="Part_Collection_page">
					Part Collection
				</div>
			</a>
		</div>
		<a href="http://2017.igem.org/Team:NortheasternU-Boston/Safety">
			<div class="menu_button direct_to_page">
				SAFETY
			</div>
		</a>
		<div class="menu_button">
			<div class="expand_collapse_icon">  </div> HUMAN PRACTICES
		</div>
		<!-- human practices submenu -->
		<div class="submenu_wrapper">
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/HP/Silver">
				<div class="submenu_button" id="Silver_page">
					Silver HP
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/HP/Gold_Integrated">
				<div class="submenu_button" id="Gold_Integrated_page">
					Integrated and Gold
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Engagement">
				<div class="submenu_button" id="Engagement_page">
					Public Engagement
				</div>
			</a>
		</div>
		<div class="menu_button">
			<div class="expand_collapse_icon">  </div> AWARDS
		</div>
		<!-- awards submenu -->
		<div class="submenu_wrapper">
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Applied_Design">
				<div class="submenu_button" id="Applied_Design_page">
					Applied Design
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Entrepreneurship">
				<div class="submenu_button" id="Entrepreneurship_page">
					Entrepreneurship
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Hardware">
				<div class="submenu_button" id="Hardware_page">
					Hardware
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Measurement">
				<div class="submenu_button" id="Measurement_page">
					Measurement
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Model">
				<div class="submenu_button" id="Model_page">
					Model
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Plant">
				<div class="submenu_button" id="Plant_page">
					Plant
				</div>
			</a>
			<a href="http://2017.igem.org/Team:NortheasternU-Boston/Software">
				<div class="submenu_button" id="Software_page">
					Software
				</div>
			</a>
		</div>
		<a href="http://igem.org/2017_Judging_Form?team=NortheasternU-Boston">
			<div class="menu_button direct_to_page">
				JUDGING FORM
			</div>
		</a>
		<div class="menu_bottom_padding">
		</div>
	</div>
</div>
