<div class="col-sm-3 home-sidebar">
  <div class="row">
    <div class="col-xs-12 neu-logo-row">
      <div class="neu-logo-link-container">
        <a class="neu-logo-link" href="https://northeastern.edu" target="_blank">
          <img class="neu-logo-img" src="http://2017.igem.org/wiki/images/6/6c/T--NortheasternU-Boston--NEULogo2.png" />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 banner-row">
      <span class="banner-title">NEU IGEM 2017</span>
      <span class="banner-subtitle">Expansion of Cell-Free Manufacturing with Post-Translational Modification</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 sidebar-links">

      <div class="panel-group" id="accordion" role="tablist"
            aria-multiselectable="true">
        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="/Team:NortheasternU-Boston">Home</a>
            </h4>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="/Team:NortheasternU-Boston/Team">Team</a>
            </h4>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="/Team:NortheasternU-Boston/Collaborations">Collaborations</a>
            </h4>
          </div>
        </div>
        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="/Team:NortheasternU-Boston/Attributions">Attributions</a>
            </h4>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#project" aria-expanded="false" aria-controls="project">
                + Project
              </a>
            </h4>
          </div>
          <div id="project" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Project">
            <ul class="panel-body sub-list">
              <li>
                <a href="/Team:NortheasternU-Boston/Description">Description</a>
              </li>
              <li>
                <a href="/Team:NortheasternU-Boston/Design">Design</a>
              </li>
              <li>
                <a href="/Team:NortheasternU-Boston/Experiments">Experiments</a>
              </li>
              <li>
                <a href="/Team:NortheasternU-Boston/Notebook">Notebook</a>
              </li>
              <li>
                <a href="/Team:NortheasternU-Boston/Results">Results</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="/Team:NortheasternU-Boston/Parts">Parts</a>
            </h4>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="/Team:NortheasternU-Boston/Safety">Safety</a>
            </h4>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#human-practices" aria-expanded="false" aria-controls="human-practices">
                + Human Practices
              </a>
            </h4>
          </div>
          <div id="human-practices" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Human Practices">
            <ul class="panel-body sub-list">
              <li>
                <a href="/Team:NortheasternU-Boston/Human_Practices">Human Practices</a>
              </li>
              <li>
                <a href="/Team:NortheasternU-Boston/HP/Silver">Human Practices Silver</a>
              </li>
              <li>
                <a href="/Team:NortheasternU-Boston/Engagement">Education and Public Engagement</a>
              </li>
            </ul>
          </div>
        </div>

        <!--div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#awards" aria-expanded="false" aria-controls="awards">
                + Awards
              </a>
            </h4>
          </div>
          <div id="awards" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Awards">
            <ul class="panel-body sub-list">
              <li>
                <a href="#">Applied Design</a>
              </li>
              <li>
                <a href="#">Entrepreneurship</a>
              </li>
              <li>
                <a href="#">Hardware</a>
              </li>
              <li>
                <a href="#">Measurement</a>
              </li>
              <li>
                <a href="#">Model</a>
              </li>
              <li>
                <a href="#">Plant</a>
              </li>
              <li>
                <a href="#">Software</a>
              </li>
            </ul>
          </div>
        </div-->

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="http://igem.org/2017_Judging_Form?team=NortheasternU-Boston">Judging Form</a>
            </h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row spacer">
  </div>

  <div class="row sidebar-footer">
    <div class="col-xs-12">
    </div>
  </div>

</div>
