<div class="col-sm-3 home-sidebar no-float">
  <div class="row">
    <div class="col-xs-12 neu-logo-row">
      <div class="neu-logo-link-container">
        <a class="neu-logo-link" href="https://northeastern.edu" target="_blank">
          <img class="neu-logo-img" src="http://2017.igem.org/wiki/images/6/6c/T--NortheasternU-Boston--NEULogo2.png" />
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 banner-row">
      <span class="banner-title">NEU IGEM 2017</span>
      <span class="banner-subtitle">Expansion of Cell-Free Manufacturing with Post-Translational Modification</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 sidebar-links">

      <div class="panel-group" id="accordion" role="tablist"
            aria-multiselectable="true">
        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="#">Home</a>
            </h4>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#team" aria-expanded="false" aria-controls="team">
                + Team
              </a>
            </h4>
          </div>
          <div id="team" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Team">
            <ul class="panel-body sub-list">
              <li>
                <a href="#">Team</a>
              </li>
              <li>
                <a href="#">Collaborations</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#project" aria-expanded="false" aria-controls="project">
                + Project
              </a>
            </h4>
          </div>
          <div id="project" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Project">
            <ul class="panel-body sub-list">
              <li>
                <a href="#">Description</a>
              </li>
              <li>
                <a href="#">Design</a>
              </li>
              <li>
                <a href="#">Experiments</a>
              </li>
              <li>
                <a href="#">Notebook</a>
              </li>
              <li>
                <a href="#">InterLab</a>
              </li>
              <li>
                <a href="#">Contribution</a>
              </li>
              <li>
                <a href="#">Model</a>
              </li>
              <li>
                <a href="#">Results</a>
              </li>
              <li>
                <a href="#">Demonstrate</a>
              </li>
              <li>
                <a href="#">Improve</a>
              </li>
              <li>
                <a href="#">Attributions</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#parts" aria-expanded="false" aria-controls="parts">
                + Parts
              </a>
            </h4>
          </div>
          <div id="parts" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Parts">
            <ul class="panel-body sub-list">
              <li>
                <a href="#">Parts</a>
              </li>
              <li>
                <a href="#">Basic Parts</a>
              </li>
              <li>
                <a href="#">Composite Parts</a>
              </li>
              <li>
                <a href="#">Part Collection</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="#">Safety</a>
            </h4>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#human-practices" aria-expanded="false" aria-controls="human-practices">
                + Human Practices
              </a>
            </h4>
          </div>
          <div id="human-practices" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Human Practices">
            <ul class="panel-body sub-list">
              <li>
                <a href="#">Silver HP</a>
              </li>
              <li>
                <a href="#">Integrated and Gold</a>
              </li>
              <li>
                <a href="#">Public Engagement</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                href="#awards" aria-expanded="false" aria-controls="awards">
                + Awards
              </a>
            </h4>
          </div>
          <div id="awards" class="panel-collapse collapse"
              role="tabpanel" aria-labelledby="Awards">
            <ul class="panel-body sub-list">
              <li>
                <a href="#">Applied Design</a>
              </li>
              <li>
                <a href="#">Entrepreneurship</a>
              </li>
              <li>
                <a href="#">Hardware</a>
              </li>
              <li>
                <a href="#">Measurement</a>
              </li>
              <li>
                <a href="#">Model</a>
              </li>
              <li>
                <a href="#">Plant</a>
              </li>
              <li>
                <a href="#">Software</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a href="#">Judging Form</a>
            </h4>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row spacer">
  </div>

  <div class="row sidebar-footer">
    <div class="col-xs-12">
    </div>
  </div>

</div>
