<html lang="en" dir="ltr" class="client-js">
@@include('./head.tpl.html')
<body>
  <div class="igem_2017_content_wrapper">
    <!-- START EDITING HERE -->

    <div class="container neu-wrapper">

      <div class="team-page row jumbo">
        @@include('./sidebar.tpl.html')
        <div class="col-sm-9">
          <div class="team-header">
            <h2 id="team" class="team-title">Team</h2>
          </div>
          <ul class="team-list">
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/0/0e/T--NortheasternU-Boston--Asa.jpeg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Asa Budnick</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Biology</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Graduating Senior</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Hometown</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>West Grove, Pennsylvania</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Favorite Animal and Italian Dish</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p> I'm a fan of Parmesan cheese personally, and the Atlantic white-spotted octopus. </p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Project planning, team organizational duties, and lab-work throughout each stage of the project. Jack of all trades, master of none.</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/9/9d/T--NortheasternU-Boston--Aaron.jpeg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Aaron Rosenberg</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Chemical Engineering</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>3rd Year</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Hometown</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Westford, Massachusetts</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Favorite Animal and Italian Dish</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>I like cuttlefish and fetuccine</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Experiments, Experimental Design</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/0/0e/T--NortheasternU-Boston--Ezra.jpeg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Ezra Levy</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Biochemistry</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Rising 3rd Year</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Favorite Animal and Italian Dish</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>I like cats and rigatoni</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Human Practices Guru, interviewer, traveller, performed experiments</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/3/33/T--NortheasternU-Boston--Minhal.jpg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Minhal Ahmed</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Bioengineering</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Rising Junior</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Favorite Animal and Italian Dish</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>I like dogs and spaghetti</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Organizational help, experimental design</p>
                  </div>
                </div>
              </div>
            </li>
<li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/6/63/T--NortheasternU-Boston--Guillaume.jpeg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Guillaume Harmange</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Biochemistry</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Graduating Senior</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Hometown</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Good Question</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Favorite Animal and Italian Dish</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>I like frogs and cannollis</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Performed experiments, experimental design</p>
                  </div>
                </div>
              </div>
            </li>
<li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/3/32/T--NortheasternU-Boston--Elise.jpg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Elise Keston-Smith</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Snakewrangling</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Rising Senior</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Favorite Animal and Italian Dish</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>I like squirrels and farfanelle</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Performed experiments, logistics master</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/a/ab/T--NortheasternU-Boston--Albert.jpeg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Albert Chen</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Bioengineering</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Rising 3rd Year</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Hometown</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Bedford, Massachusetts</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Favorite Animal and Italian Dish</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>I like birds and linguine</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Wiki Writing, LC/MS help</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <div class="team-header">
            <h2 id="advisors" class="team-title">Advisors</h2>
          </div>
          <ul class="team-list">
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2016.igem.org/wiki/images/b/be/T--Northeastern--jonathan.JPG">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Jonathan Soucy</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Chemical Engineering, PhD Candidate</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Expected 2020</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Hometown</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Lewiston, Maine</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Supervision</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/c/c6/T--NortheasternU-Boston--Tess.jpeg">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Tess Torregrosa</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Chemical Engineering, PhD Candidate</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Expected 2020</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Supervision</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://2017.igem.org/wiki/images/9/93/T--NortheasternU-Boston--Sam.png">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Samuel Breselge</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Biology, PhD Candidate</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>2020</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Supervision</p>
                  </div>
                </div>
              </div>
            </li>
            <li class="row member-item">
              <div class="col-xs-3 member-image-container">
                <img class="member-image" src="http://cachemonet.com/src/center/penguin.gif">
              </div>
              <div class="col-xs-9 member-desc-col">
                <h4 class="member-name">Zoe Fleischmann</h4>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Major</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Biology, PhD Candidate</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Year</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Expected 2021</p>
                  </div>
                </div>
                <div class="row member-desc-row">
                  <div class="col-xs-3 desc-key">
                    <span>Parts I Worked On</span>
                  </div>
                  <div class="col-xs-9 desc-value">
                    <p>Supervision</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      @@include('./footer.tpl.html')
    </div>
  </div>

</body>
