// styles for the graphical abstract

svg {
  max-height: 95vh;
  min-width: 200px;
  margin: auto;
  background-color: #FFF;
  a {
    &:hover {
      stroke-opacity: 0.5;
      fill-opacity: 0.5;
      transition: all 0.1s ease-in-out;
    }
  }
}
