@import './global.scss';

.basic-page {
  .header, .content-header {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    text-align: center;
    h1 {
      margin-top: 0px;
      padding-top: 10px;
    }
  }
  .content-text {
    background-color: #FFF;
    padding: 10px;
    border-radius: 3px;
    box-shadow: $shadow1;
    margin-bottom: 10px;
    h3 {
      margin-top: 5px;
      padding-top: 3px;
    }
    p {
      margin: 5px;
      margin-bottom: 10px;
    }
  }
}
