@import 'global.scss';

// sidebar with links, logo, etc.
.home-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: $c_blue;
  min-height: 100%;
  box-shadow: $shadow_horz;
  //padding-right: 0px;

  .neu-logo-row {
    padding: 0px;
    background-color: #FFF;
    .neu-logo-link-container {
      padding: 15px 15px;
      a.neu-logo-link {
        position: relative;
        width: 100%;
        img.neu-logo-img {
          max-width: 100%;
        }
      }
    }
  }

  .banner-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 15px;
    span.banner-title {
      color: #FFF;
      font-size: 2em;
    }
    span.banner-subtitle {
      color: #FFF;
      font-size: 1.25em;
    }
  }

  .sidebar-links {
    padding: 0px;
    .panel-group {
      margin-bottom: 10px;
      border-top: 1px dashed lighten($c_blue, 10%);
      .panel, .panel-default {
        border-radius: 0px;
        //background-color: rgba(255,255,255,0.1);
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-bottom: 1px dashed lighten($c_blue, 10%);
        margin-top: 0px;
        .panel-collapse {
          &.collapse.in, &.collapsing {
            background-color: rgba(255,255,255,0.1);
          }
        }
        .panel-heading {
          padding: 0;
          background-color: transparent;
          border: none;
          h4.panel-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 0px;
            font-size: inherit !important;
            a {
              width: 100%;
              padding: 10px 15px;
              color: #EEE;
              &:hover, &:active {
                background-color: #FFF;
                color: $c_blue;
              }
            }
          }
        }
        ul.panel-body {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          list-style: none;
          padding: 0px 0px;
          border-top: 1px solid rgba(255,255,255,0.1);
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            :last-child {
              border: none;
            }
            a {
              width: 100%;
              padding: 10px 20px;
              color: #EEE;
              &:hover, &:focus {
                background-color: #EEE;
                color: $c_blue;
              }
            }
          }

        }
      }

    }
  }

  .spacer {
    flex: 1;
  }

  .sidebar-footer {
    padding: 10px 15px;
    color: #EEE;
  }

}
